*{
	padding: 0px;
	margin: 0px;
	font-family: Lucida, sans-serif;
}

body{
	background-image: url(../images/bodybg.png);
}

#cover{
    height: 100%;
	background : url(../images/homebg.png);
	background-size: cover;
}
#header{
	padding: 10px;
	display: flex;
	justify-content: space-around;
}

#cover-image-logo{
   
}

#header-nav-bar{
 
	
}
#header-nav-widgets{
	
}

#cover-container-images-info{
    display: flex;
    justify-content: space-around;
}

#header-nav-bar ul li{
	color: white;
    display: inline-block;
    margin-right: 20px; 
    padding: 10px;      
}



#header-nav-widgets ul li{
	display: inline-block;
}

.widgets{
	height: 30px;
}

#cover-content-container{
	color: white;
	font-size: 30px;
	margin-top: 100px;	
}

#cover-buttons-container{
	color: white;
}

#button-download{
    text-decoration: none;
	color: white;
	background-color: #f47f42;
	font-size:30px;
    padding: 15px ;
    border-radius: 5px;
    border-style: 2px solid

}

#button-features{
	text-decoration: none;
	color: white;
	background-color: #3b5998;
	font-size: 30px;
    padding: 15px;
    border-style: 2px solid;
    border-radius: 5px;
}

#cover-heading-container{
	margin-top: 30px;
	text-align: center;
	color: #5780cd;
}
#cover-heading-container p{
	color: #989696;
}

#cover-information-container{
	margin-top: 60px; 
	margin-left: 15%;
}

#cover-information-container p{
	text-align: justify;
}

#cover-information-container h3{
	text-align: left;
}

#cover-information-column1-container{
	float: left;
	width: 26%;
}

#cover-information-column2-container{
    float: left;
    width: 26%;
}

#cover-information-column3-container{
	float: left;
	width: 26%;
}

.cover-information-image-container-class img{
	width: 60px;
	margin-top: 10%;
}

.cover-information-image-container-class{
	float: left;
	height: 150px;
}

#cover-information-image-container img{
	margin-top: 50px;
}

.cover-information-table-container-class p{
    color: #989696;
}
#cover-information-image-container{
  display: inline-flex;
}
#cover-heading2-container{
   text-align: center;
	color: #5780cd;
}

#cover-heading2-container p{
	color: #989696;
}

#cover-cloudy-container{
	float: left;
	margin-left: 20%
}

#cover-sunny-container{
	float : right;
	margin-right: 20%;
}

#cover-rainy-container{
	float: left;
	margin-left: 20%
}

#cover-cloudy-container{
	margin-top: 20px;
	display: inline-flex;
}
#cover-rainy-container{
	margin-top: 20px;
	display: inline-flex;
}
#cover-sunny-container{
	margin-top: 20px;
	display: inline-flex;
}

.cover-container-information-box-sunny{
	margin-right: 100px;
}

.cover-container-information-box{
	margin-left: 100px; 
}

.cover-cloudy-container-information p{
      color: #989696;
}
#cover-heading3-container{

   margin-right :  100px;
   text-align: center;
	color: #5780cd;
}

#cover-heading3-container p{
    color: #989696;
}

#container-heading3{
     clear: both;
}

#cover-heading3-container{
	margin-top: 100px;
}


#cover-review-container{
	display: flex;
	margin-left: 10%;
}

.cover-review-row-column-container{
	margin-top: 10px;
	width: 80%;
}

.cover-review-row-column-container p{
   font-weight: bold;
}

#cover-review-container-box1{
	margin-left: 12%;
}

#bottom-information-container{
	clear: both;
	display: flex;
	background-image: url(../images/downloadbg.png);
	margin-top: 150px;
	height: 400px;
}
#footer{
	padding: 10px;
	background-color: #383A53;
    height:200px;
}
#bottom-information-container-information{
    width: 46%;
    margin-left: 10%;
    margin-top: 3%;
    color: white;
}

#bottom-information-container-information p{
    margin-top: 50px;
}

#bottom-information-container-image{
	margin-left: 10%;
    margin-top: 6.5%;
}

#bottom-information-container-image img{
	width: 85%;
}
#footer-nav-bar{
	margin-left: 350px;
	float: left;
}

#footer-nav-bar ul li{
    display: inline-block;
    margin-right: 20px; 
    color: white;
}

#footer-nav-widgets{

	display: inline-flex;
	margin-left: 200px;
}

#footer-nav-widgets ul li{
	display: inline-block;
}

#footer-logo{
    float: left;
    margin-left: 100px;
}

#footer-line{
   margin: 50px 27% 0px;
   height: 1px;
   width: 40%;
}

center{
	margin-top: 50px;
	color: white;
}