header{
    background-color: aqua;
    border: solid blue 2px;
    font-size:20px;
    font-weight: bold;
}

.ng-isolate-scope{
    display: flex;
    flex-wrap: wrap;
    margin-left: 0.5rem!important;
    margin-right: 0.5rem!important;
    justify-content: space-between;
}

.modal
{
    opacity:6 !important;
}

.modal-header{
    background-color: aqua;
}

.card{
    position: relative;
}

.badge{
    position: absolute;
    top:8px;
    right:16px;
    font-size:18px;
}