<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Connection</display-name>
  <servlet>
    <display-name>Signup</display-name>
    <servlet-name>SignupController</servlet-name>
    <servlet-class>com.controller.SignupController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupController</servlet-name>
    <url-pattern>/SignupController</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>SignupFilter</filter-name>
    <filter-class>com.filters.SignupValidationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SignupFilter</filter-name>
    <url-pattern>/SignupController</url-pattern>
  </filter-mapping>
  <servlet>
    <display-name>Login</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.filters.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/LoginController</url-pattern>
  </filter-mapping>
  
   <servlet>
    <display-name>Update</display-name>
    <servlet-name>UpdateController</servlet-name>
    <servlet-class>com.controller.UpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateController</servlet-name>
    <url-pattern>/UpdateController</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>UpdateFilter</filter-name>
    <filter-class>com.filters.UpdateFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UpdateFilter</filter-name>
    <url-pattern>/UpdateController</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>